.contato-container {
  background: #0E0E0E;
  position: relative;
}

.contato {
  max-width: 1300px;
  box-sizing: border-box;
  margin: 0 auto;
  gap: 100px;
  
  padding: 100px 40px;
}

.contato-conteudo {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}


.contato-texto {
  color: #DEDEDE;
  font-size: 2rem;
  max-width: 30ch;
  justify-self: start;
  align-self: start;
}

.contato-lista {
  font-size: 2rem;
  color: #fff;
  display: grid;
  gap: 20px;
  justify-self: start;
  align-self: start;
}

.direitos {
  color: #717171;
  font-size: 1.25rem;
  align-self: end;
  margin-top: 40px;
}

.contato-container::before {
  content: '';
  width: 100px;
  height: 8px;
  background-color: #70DA1C;
  position: absolute;
  top: -4px;
  left: 150px;
}

.contato-container::after {
  content: '';
  position: absolute;
  background-image: url('../img/Quadriculado.svg');
  width: 40px;
  height: 40px;
  display: block;
  background-size: cover;
  bottom: 40px;
  right: 150px;
}

@media (width < 1200px) {
  .contato-texto {
    font-size: 1.6rem;
  }

  .contato-lista {
    font-size: 1.6rem;
  }

}


@media (width < 1000px) {
  .contato-texto {
    font-size: 1.5rem;
  }

  .contato-lista {
    font-size: 1.5rem;
    gap: 10px;
  }

}

@media (width < 800px) {

  .contato-conteudo {
    gap: 20px;
  }

  .contato-texto {
    font-size: 1.25rem;
  }

  .contato-lista {
    font-size: 1.25rem;
  }

  .direitos {
    margin-top: 30px;
    font-size: 0.8rem;
  }

  .contato {
    padding: 50px;
  }

  .contato-container::after {

    height: 20px;
    width: 20px;

  }

}